USE [master]
GO
/****** Object:  Database [GS25(1)]    Script Date: 5/20/2023 9:59:21 PM ******/
CREATE DATABASE [GS25(1)]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'test', FILENAME = N'C:\Users\ADMIN\Documents\Zalo Received Files\test.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'test_log', FILENAME = N'C:\Users\ADMIN\Documents\Zalo Received Files\test_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GS25(1)].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GS25(1)]
GO
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 5/20/2023 9:59:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[ChucVu] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CHUCVU] PRIMARY KEY CLUSTERED 
(
	[ChucVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DATHANG]    Script Date: 5/20/2023 9:59:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATHANG](
	[sanphamID] [bigint] NOT NULL,
	[soluongDat] [bigint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOANHTHU]    Script Date: 5/20/2023 9:59:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOANHTHU](
	[ngaythangSold] [date] NOT NULL,
	[tienmatSold] [bigint] NULL,
	[tiendientuSold] [bigint] NULL,
	[tienbankSold] [bigint] NULL,
	[tongSold] [bigint] NULL,
	[cashReceived] [bigint] NULL,
	[cashDebt] [bigint] NULL,
	[TTDT] [nvarchar](50) NULL,
 CONSTRAINT [PK_DOANHTHU] PRIMARY KEY CLUSTERED 
(
	[ngaythangSold] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HDINFO]    Script Date: 5/20/2023 9:59:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HDINFO](
	[hoadonID] [bigint] NOT NULL,
	[sanphamID] [bigint] NOT NULL,
	[soluong] [int] NOT NULL,
	[thanhtien] [bigint] NOT NULL,
	[hinhthucThanhToan] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 5/20/2023 9:59:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[hoadonID] [bigint] NOT NULL,
	[nvID] [nvarchar](50) NOT NULL,
	[khSDT] [nvarchar](50) NULL,
	[ngaythangSold] [date] NOT NULL,
	[gioSold] [time](7) NOT NULL,
	[totalSold] [bigint] NOT NULL,
	[payments] [bigint] NOT NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[hoadonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOPDONG]    Script Date: 5/20/2023 9:59:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOPDONG](
	[loaiHopDong] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_HOPDONG] PRIMARY KEY CLUSTERED 
(
	[loaiHopDong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HTThanhToan]    Script Date: 5/20/2023 9:59:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HTThanhToan](
	[HinhThucThanhToan] [nvarchar](50) NOT NULL,
	[Mã] [bigint] NULL,
	[SoTien] [bigint] NULL,
 CONSTRAINT [PK_HTThanhToan] PRIMARY KEY CLUSTERED 
(
	[HinhThucThanhToan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HUYHANG]    Script Date: 5/20/2023 9:59:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HUYHANG](
	[sanphamID] [bigint] NOT NULL,
	[soluongHuy] [bigint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 5/20/2023 9:59:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[khSDT] [nvarchar](50) NOT NULL,
	[khHoTen] [nvarchar](50) NOT NULL,
	[khNgaySinh] [nvarchar](50) NOT NULL,
	[khGioiTinh] [nvarchar](50) NOT NULL,
	[khDiem] [bigint] NOT NULL,
 CONSTRAINT [PK_KHACHHANG_1] PRIMARY KEY CLUSTERED 
(
	[khSDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHO]    Script Date: 5/20/2023 9:59:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHO](
	[sanphamID] [bigint] NOT NULL,
	[sanphamBan] [bigint] NOT NULL,
	[sanphamDat] [bigint] NOT NULL,
	[sanphamHuy] [bigint] NOT NULL,
	[sanphamKho] [bigint] NOT NULL,
	[sanphamConLai] [bigint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 5/20/2023 9:59:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[nvID] [nvarchar](50) NOT NULL,
	[ChucVu] [nvarchar](50) NOT NULL,
	[nvHo] [nvarchar](50) NOT NULL,
	[nvTen] [nvarchar](50) NOT NULL,
	[nvGioiTinh] [nvarchar](50) NOT NULL,
	[nvNgaySinh] [date] NOT NULL,
	[nvQueQuan] [nvarchar](50) NOT NULL,
	[TTNV] [nvarchar](50) NOT NULL,
	[HopDong] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[nvID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUEQUAN]    Script Date: 5/20/2023 9:59:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUEQUAN](
	[QueQuan] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_QUEQUAN] PRIMARY KEY CLUSTERED 
(
	[QueQuan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SALARY]    Script Date: 5/20/2023 9:59:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALARY](
	[nvID] [nvarchar](50) NOT NULL,
	[soGioLam] [int] NOT NULL,
	[tangGioLam] [int] NOT NULL,
	[Luong] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 5/20/2023 9:59:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[sanphamID] [bigint] NOT NULL,
	[sanphamName] [nvarchar](50) NOT NULL,
	[gia] [bigint] NOT NULL,
	[chietkhau] [bigint] NOT NULL,
	[NCC] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[sanphamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 5/20/2023 9:59:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[nvID] [nvarchar](50) NOT NULL,
	[nvTaiKhoan] [nvarchar](50) NOT NULL,
	[TenHienThi] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](50) NOT NULL,
	[typeID] [int] NOT NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[nvTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANGTHAIDOANHTHU]    Script Date: 5/20/2023 9:59:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANGTHAIDOANHTHU](
	[TTDT] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TRANGTHAIDOANHTHU] PRIMARY KEY CLUSTERED 
(
	[TTDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANGTHAINV]    Script Date: 5/20/2023 9:59:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANGTHAINV](
	[TTNV] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TRANGTHAINV] PRIMARY KEY CLUSTERED 
(
	[TTNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DOANHTHU] ADD  CONSTRAINT [DF_DOANHTHU_tienmatSold]  DEFAULT ((0)) FOR [tienmatSold]
GO
ALTER TABLE [dbo].[DOANHTHU] ADD  CONSTRAINT [DF_DOANHTHU_tiendientuSold]  DEFAULT ((0)) FOR [tiendientuSold]
GO
ALTER TABLE [dbo].[DOANHTHU] ADD  CONSTRAINT [DF_DOANHTHU_tienbankSold]  DEFAULT ((0)) FOR [tienbankSold]
GO
ALTER TABLE [dbo].[DOANHTHU] ADD  CONSTRAINT [DF_DOANHTHU_tongSold]  DEFAULT ((0)) FOR [tongSold]
GO
ALTER TABLE [dbo].[DOANHTHU] ADD  CONSTRAINT [DF_DOANHTHU_cashReceived]  DEFAULT ((0)) FOR [cashReceived]
GO
ALTER TABLE [dbo].[DOANHTHU] ADD  CONSTRAINT [DF_DOANHTHU_cashDebt]  DEFAULT ((0)) FOR [cashDebt]
GO
ALTER TABLE [dbo].[DOANHTHU] ADD  CONSTRAINT [DF_DOANHTHU_TTDT]  DEFAULT (N'Chưa hoàn thành') FOR [TTDT]
GO
ALTER TABLE [dbo].[HOADON] ADD  CONSTRAINT [DF_HOADON_khSDT]  DEFAULT ((123)) FOR [khSDT]
GO
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [DF_KHACHHANG_khSDT]  DEFAULT ((123)) FOR [khSDT]
GO
ALTER TABLE [dbo].[KHO] ADD  CONSTRAINT [DF_KHO_sanphamDat]  DEFAULT ((0)) FOR [sanphamDat]
GO
ALTER TABLE [dbo].[SALARY] ADD  CONSTRAINT [DF_SALARY_soGioLam]  DEFAULT ((0)) FOR [soGioLam]
GO
ALTER TABLE [dbo].[SALARY] ADD  CONSTRAINT [DF_SALARY_tangGioLam]  DEFAULT ((0)) FOR [tangGioLam]
GO
ALTER TABLE [dbo].[SALARY] ADD  CONSTRAINT [DF_SALARY_Luong]  DEFAULT ((0)) FOR [Luong]
GO
ALTER TABLE [dbo].[DATHANG]  WITH CHECK ADD  CONSTRAINT [FK_DATHANG_SANPHAM] FOREIGN KEY([sanphamID])
REFERENCES [dbo].[SANPHAM] ([sanphamID])
GO
ALTER TABLE [dbo].[DATHANG] CHECK CONSTRAINT [FK_DATHANG_SANPHAM]
GO
ALTER TABLE [dbo].[DOANHTHU]  WITH CHECK ADD  CONSTRAINT [FK_DOANHTHU_TRANGTHAIDOANHTHU] FOREIGN KEY([TTDT])
REFERENCES [dbo].[TRANGTHAIDOANHTHU] ([TTDT])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DOANHTHU] CHECK CONSTRAINT [FK_DOANHTHU_TRANGTHAIDOANHTHU]
GO
ALTER TABLE [dbo].[HDINFO]  WITH CHECK ADD  CONSTRAINT [FK_HDINFO_HOADON] FOREIGN KEY([hoadonID])
REFERENCES [dbo].[HOADON] ([hoadonID])
GO
ALTER TABLE [dbo].[HDINFO] CHECK CONSTRAINT [FK_HDINFO_HOADON]
GO
ALTER TABLE [dbo].[HDINFO]  WITH CHECK ADD  CONSTRAINT [FK_HDINFO_HTThanhToan] FOREIGN KEY([hinhthucThanhToan])
REFERENCES [dbo].[HTThanhToan] ([HinhThucThanhToan])
GO
ALTER TABLE [dbo].[HDINFO] CHECK CONSTRAINT [FK_HDINFO_HTThanhToan]
GO
ALTER TABLE [dbo].[HDINFO]  WITH CHECK ADD  CONSTRAINT [FK_HDINFO_SANPHAM] FOREIGN KEY([sanphamID])
REFERENCES [dbo].[SANPHAM] ([sanphamID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HDINFO] CHECK CONSTRAINT [FK_HDINFO_SANPHAM]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_DOANHTHU] FOREIGN KEY([ngaythangSold])
REFERENCES [dbo].[DOANHTHU] ([ngaythangSold])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_DOANHTHU]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG] FOREIGN KEY([khSDT])
REFERENCES [dbo].[KHACHHANG] ([khSDT])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([nvID])
REFERENCES [dbo].[NHANVIEN] ([nvID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO
ALTER TABLE [dbo].[HUYHANG]  WITH CHECK ADD  CONSTRAINT [FK_HUYHANG_SANPHAM] FOREIGN KEY([sanphamID])
REFERENCES [dbo].[SANPHAM] ([sanphamID])
GO
ALTER TABLE [dbo].[HUYHANG] CHECK CONSTRAINT [FK_HUYHANG_SANPHAM]
GO
ALTER TABLE [dbo].[KHO]  WITH CHECK ADD  CONSTRAINT [FK_KHO_SANPHAM] FOREIGN KEY([sanphamID])
REFERENCES [dbo].[SANPHAM] ([sanphamID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KHO] CHECK CONSTRAINT [FK_KHO_SANPHAM]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_CHUCVU] FOREIGN KEY([ChucVu])
REFERENCES [dbo].[CHUCVU] ([ChucVu])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_CHUCVU]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_HOPDONG] FOREIGN KEY([HopDong])
REFERENCES [dbo].[HOPDONG] ([loaiHopDong])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_HOPDONG]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_QUEQUAN] FOREIGN KEY([nvQueQuan])
REFERENCES [dbo].[QUEQUAN] ([QueQuan])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_QUEQUAN]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_TRANGTHAINV] FOREIGN KEY([TTNV])
REFERENCES [dbo].[TRANGTHAINV] ([TTNV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_TRANGTHAINV]
GO
ALTER TABLE [dbo].[SALARY]  WITH CHECK ADD  CONSTRAINT [FK_SALARY_NHANVIEN] FOREIGN KEY([nvID])
REFERENCES [dbo].[NHANVIEN] ([nvID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SALARY] CHECK CONSTRAINT [FK_SALARY_NHANVIEN]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_NHANVIEN] FOREIGN KEY([nvID])
REFERENCES [dbo].[NHANVIEN] ([nvID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_NHANVIEN]
GO
/****** Object:  StoredProcedure [dbo].[USP_Load_ChucVu_List]    Script Date: 5/20/2023 9:59:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_Load_ChucVu_List]
AS
BEGIN
	SELECT * FROM dbo.CHUCVU
END
GO
/****** Object:  StoredProcedure [dbo].[USP_Load_Employee_List]    Script Date: 5/20/2023 9:59:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_Load_Employee_List]
AS
BEGIN
	SELECT * FROM dbo.NHANVIEN
END
GO
/****** Object:  StoredProcedure [dbo].[USP_Load_HopDong_List]    Script Date: 5/20/2023 9:59:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_Load_HopDong_List]
AS
BEGIN
	SELECT * FROM dbo.HOPDONG
END
GO
/****** Object:  StoredProcedure [dbo].[USP_Load_Note_List]    Script Date: 5/20/2023 9:59:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_Load_Note_List]
AS
BEGIN
	SELECT * FROM dbo.TRANGTHAINV
END
GO
/****** Object:  StoredProcedure [dbo].[USP_Load_QueQuan_List]    Script Date: 5/20/2023 9:59:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_Load_QueQuan_List]
AS
BEGIN
	SELECT * FROM dbo.QUEQUAN
END
GO
/****** Object:  StoredProcedure [dbo].[USP_LoadProduct]    Script Date: 5/20/2023 9:59:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_LoadProduct]
AS
BEGIN 
	select * from dbo.SANPHAM
END
GO
/****** Object:  StoredProcedure [dbo].[USP_LoadSalary]    Script Date: 5/20/2023 9:59:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_LoadSalary]
AS
BEGIN 
	SELECT b.nvID, a.ChucVu, a.nvHo , a.nvTen, a.nvGioiTinh ,b.soGioLam,b.tangGioLam,b.Luong,a.TTNV
	FROM dbo.NHANVIEN a inner join dbo.SALARY b
	ON a.nvID = b.nvID
END
GO
/****** Object:  StoredProcedure [dbo].[USP_LoadTTDT]    Script Date: 5/20/2023 9:59:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_LoadTTDT]
AS
BEGIN 
	select * from dbo.TRANGTHAIDOANHTHU
END
GO
/****** Object:  StoredProcedure [dbo].[USP_Login]    Script Date: 5/20/2023 9:59:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_Login]
@userName bigint , @passWord nvarchar(50) , @type int
AS
BEGIN
	SELECT * FROM dbo.TAIKHOAN WHERE nvTaiKhoan=@userName AND MatKhau=@passWord AND Type=CAST(@type AS int)
END
GO
/****** Object:  StoredProcedure [dbo].[USP_Login_AppQuanLy]    Script Date: 5/20/2023 9:59:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_Login_AppQuanLy]
@userName nvarchar(50) , @passWord nvarchar(50) , @typeID nvarchar(50)
AS
BEGIN
	SELECT * FROM dbo.TAIKHOAN WHERE nvTaiKhoan = @userName AND MatKhau=@passWord AND typeID = CAST(@typeID AS int)
END
GO
USE [master]
GO
